<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging Out</title>
    <script>
        window.onload = function () {
            const iframe = document.createElement('iframe');
            iframe.style.display = 'none';
            iframe.src = 'https://accounts.google.com/logout';
            iframe.onload = function () {
                window.location.href = '/logoutCallback';
            };
            document.body.appendChild(iframe);
        };
    </script>
</head>

<body>
    <p>Logging out...</p>
</body>

</html>