<div class="container-homepage">
    <h1 class="homepage-title">Welcome to MicroBlog</h1>
    
    <div class="homepage-content">      
        {{!-- List of posts --}}
        <div class="posts-list">
            {{#each posts}}
            {{> post}}
            {{/each}}
        </div>

        <div class="post-form">
            <form action="/posts" method="POST">
                <input type="text" name="title" placeholder="Post Title" required>
                <textarea name="content" placeholder="Post Content" required></textarea>
                <button type="submit">Create Post</button>
            </form>
        </div>
    </div>
</div>