<div class="container-homepage">
    <h1 class="homepage-title">Welcome to BLOG IT</h1>

    <div class="homepage-content">
        <div class="posts-list">
            {{#each posts}}
            {{> post post=this user=../user}}
            {{/each}}
        </div>

        {{#if user}}
        <div class="post-form">
            <form action="/posts" method="POST">
                <input type="text" name="title" placeholder="Post Title" required>
                <textarea name="content" placeholder="Post Content" required></textarea>
                <button type="submit">Create Post</button>
                <button type="button" class="emoji-button">😀</button>
            </form>
        </div>
        {{/if}}
    </div>

    <br>
    {{#unless user}}
    <footer>
        <p><a href="/login">SIGN IN</a> to post!</p>
    </footer>
    {{/unless}}
    <br>
</div>
