{{!-- This template uses the main layout --}}
{{!-- By default, Handlebars uses the layout defined in the layoutDir (views/layouts) --}}
<div class="container-homepage">
    <h1>Welcome to MicroBlog</h1>
    {{!-- Add more content here as needed --}}    
</div>