<div class="container-homepage">
    <h1 class="homepage-title">Welcome to BLOG IT</h1>

    {{#if user}}
        <p>
            <a href="/" class="{{#if followingView}}no-underline{{else}}underline{{/if}}">REGULAR VIEW</a> | 
            <a href="/following" class="{{#if followingView}}underline{{else}}no-underline{{/if}}">FOLLOWING</a>
        </p>
    {{/if}}

    
    {{#unless user}}
    <span>
        <p><a href="/loginRegister">SIGN IN</a> to post!</p>
    </span>
    <br>
    {{/unless}}

    <div class="homepage-content">
        
        <div class="posts-list">
            <div class="sorting-dropdown">
                <label for="sort-posts">Sort by:</label>
                <select id="sort-posts" onchange="sortPosts()">
                    <option value="newest" {{#ifCond sort 'newest'}}selected{{/ifCond}}>Newest</option>
                    <option value="oldest" {{#ifCond sort 'oldest'}}selected{{/ifCond}}>Oldest</option>
                    <option value="likes" {{#ifCond sort 'likes'}}selected{{/ifCond}}>Likes</option>
                </select>
            </div>

            {{#each posts}}
            {{> post post=this user=../user}}
            {{/each}}
        </div>
        

        {{#if user}}
        <div class="post-form">
            <form action="/posts" method="POST">
                <input type="text" name="title" placeholder="Post Title" required>
                <textarea name="content" placeholder="Post Content" required></textarea>
                <button type="submit">Create Post</button>
                <button type="button" class="emoji-button">😀</button>
                <div class="emoji-container" style="display: none;">
                    <div class="emoji-header">
                        <input type="text" class="emoji-search" placeholder="Search emojis...">
                    </div>
                    <div class="emoji-content-container">
                        <button type="button" class="emoji-nav-button"><</button>
                        <div class="emoji-content"></div>
                        <button type="button" class="emoji-nav-button">></button>
                    </div>
                </div>
            </form>
        </div>
        {{/if}}
    </div>
</div>

<script>
    function sortPosts() {
        const sortValue = document.getElementById('sort-posts').value;
        window.location.href = `/?sort=${sortValue}`;
    }
</script>