<!-- views/loginRegister.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="form-container sign-in">
            <h1>{{title}}</h1>
            <p>Click the button below to log in or register with Google.</p>
            <a href="/auth/google" class="google-login-button"><h3>Login/Register with Google</h3></a>
        
        </div>
        
    </div>
</body>

</html>