@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 60px;
    margin: 0;
    box-sizing: border-box;
}

/* Container Styles */
.container-homepage,
.container-profile {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 95%;
    max-width: 100%;
    height: 100%;
    padding: 20px 17px 20px 20px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    position: relative;
}

.container-homepage::-webkit-scrollbar,
.container-profile::-webkit-scrollbar {
    width: 5px;
}

.container-homepage::-webkit-scrollbar-track,
.container-profile::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
    margin: 22px 0;
}

.container-homepage::-webkit-scrollbar-thumb,
.container-profile::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    margin-left: -2px;
}

.container-homepage::-webkit-scrollbar-thumb:hover,
.container-profile::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container-homepage:before,
.container-homepage:after,
.container-profile:before,
.container-profile:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    background: white;
    z-index: 1;
}

.container-homepage:before,
.container-profile:before {
    top: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.container-homepage:after,
.container-profile:after {
    bottom: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Homepage Title */
.homepage-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    font-family: Tahoma;
}

/* Homepage Content */
.homepage-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
}

.posts-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Post Form */
.post-form {
    min-width: 30%;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    align-self: flex-start;
    max-width: 100%;
}

.post-form form {
    padding: 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-form input,
.post-form textarea {
    background-color: #eee;
    border: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 8px;
    outline: none;
}

.post-form textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 400px;
    resize: vertical;
}

/* Only first child buttons in post-form */
.post-form > form > button {
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(to left, #512da8, #5c6bc0);
}

.post-form > form > button:hover {
    background: linear-gradient(to right, #512da8, #5c6bc0);
}

/* Emoji Container */
.emoji-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 10px;
    margin-top: 10px;
}

.emoji-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 10px;
    justify-content: center;
}

.emoji-container button {
    background-color: #eee;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.emoji-container button:hover {
    background-color: #ddd;
}

/* Posts */
.post {
    background: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.post-header h2 {
    margin-bottom: 10px;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-header img.avatar {
    margin-right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.post-header h2 {
    margin: 0;
    font-size: 1.5em;
}

.post-header .post-author {
    margin-left: auto;
    font-size: 0.9em;
    color: gray;
}

.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.post-footer span {
    font-size: 0.9em;
    color: gray;
}

.button-container {
    display: flex;
    align-items: center;
}

.like-button,
.delete-button {
    background-color: rgb(218, 53, 53);
    color: white;
    border: none;
    padding: 3px 7px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 10px;
}

.like-button:hover {
    background-color: rgb(255, 2, 2);
}

.delete-button {
    background-color: rgb(57, 57, 135);
    padding: 3px 7px;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: rgb(4, 4, 198);
}

.post-footer form {
    display: inline;
    margin: 0;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    color: white;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    background: linear-gradient(to left, #512da8, #5c6bc0);
}

.container button:hover {
    background: linear-gradient(to right, #512da8, #5c6bc0);
}

.container form {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: center;
    top: 0;
    height: 100%;
    transition: all .8s ease-in-out;
    margin-top: 60px;
    margin-bottom: 20px;
}

.form-container a {
    color: #512da8;
    font-size: 15px;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
}

.app-name {
    font-size: 2em;
}

.navbar-left a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.navbar-right a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.navbar-right a:hover {
    text-decoration: underline;
}

.username {
    margin-left: 15px;
    font-weight: bold;
}

.user-posts {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}